@model IEnumerable<SelfAspNet.Models.Sample>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>@ViewBag.Mes</p>
@* asp-append-versionで画像のキャッシュをクリアして更新されない問題を解決できる *@
@* 画像はwwwroot配下に設置する *@
<img src="~/images/rengoku.png" alt="rengoku.png" asp-append-version="true"/>
<table class="table">
    <thead>
        <tr>
            <th>
                @* これはデータが型に合わせてある程度最適な形で整形してくれるらしい(XSSなど防げる+カスタマイズ可能) *@
                @* また、カラム名もforeach使わずに参照できるので、これを使うのが一般的 *@
                @* なおmodelという引数はmでもなんでも良い *@
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @* 【リンク生成】タグヘルパー：asp-actionとasp-route-idについて*@
                @* アクションとidを指定したリンクが自動で作成できる *@
                @* 作成結果例：<a href="/Samples/Edit/1">Edit</a>  *@

                @* asp-xxxxといういろんなリンク生成のメソッドがあるので、何かに関連したリンクを生成するときは利用する *@
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
